#signout{
    color: rgb(39, 39, 46);
    font-weight: 600;
    background-color: white;
    border-color: rgb(39, 39, 46);
}
#signout:active, #signout:hover{
    color: rgb(39, 39, 46);
    font-weight: 600;
    background-color: white;
    border-color: rgb(39, 39, 46);
}