#orderContainer{
    background-color: rgba(255, 255, 255, 0.815);
}

#addToCartButton, #submitOrder{
    color: white;
    font-weight: 600;
    text-emphasis-color: white;
    background-color: rgb(39, 39, 46);
    border-color: rgb(39, 39, 46);
    text-transform: uppercase;
    margin-bottom: 1em;
}

#addToCartButton:hover, #addToCartButton:active,
 #submitOrder:active, #submitOrder:hover{
    color: rgb(39, 39, 46);
    font-weight: 600;
    text-emphasis-color: white;
    background-color: white;
    border-color: rgb(39, 39, 46);
    text-transform: uppercase;
    margin-bottom: 1em;
}