#EditButtons{
    display:flex;
    width: 30%; 
    flex-wrap: wrap;
    align-content: flex-start;
}
#modify{
    margin-inline-end: auto;
}
#remove, #modify, #confirmCancel, #confirmModify, #confirmDelete{
    color: rgb(39, 39, 46);
    font-weight: 600;
    background-color: white;
    border-color: rgb(39, 39, 46);
}
#remove:active, #remove:hover, #modify:hover,
#modify:active,#confirmModify:hover, #confirmModify:active,
#confirmDelete:hover, #confirmDelete:active,
#confirmCancel:hover, #confirmCancel:active{
    color: white;
    font-weight: 600;
    background-color: rgb(39, 39, 46);
    border-color: rgb(39, 39, 46);
}

.card{
    background-color: rgba(255, 255, 255, 0.815) !important;
    border-radius: 0.4em;
    border: rgba(255, 255, 255, 0.815);
}