#submit{
    color: white;
    font-weight: 600;
    background-color: rgb(39, 39, 46);
    border-color: rgb(39, 39, 46);
}
#submit:active, #submit:hover{
    color: rgb(39, 39, 46);
    font-weight: 600;
    background-color: white;
    border-color: rgb(39, 39, 46);
}